:root{
    --header-text-color: #FFFFFF;
    --body-text-color: #323232;
    --body-secondary-text-color: #000000;
    --bytton---accent-color: #4985FF;
}

body{
    font-family: 'Montserrat', sans-selif;
    background-color: #000000;
}

a{
    color: var(--header-text-color);
    text-emphasis: none;
}
/* head */
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 h2 h3 h4 h5 h6{
    font-weight: 600;
}

.container{
max-width: 1936px;
margin-left: auto;
margin-right: auto;
padding: 0 15px;
}

.header{
display: flex;
justify-content: center;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.header__nav a {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.5px
}

.header__list{
    display: flex;
    gap: 30px;
}
.otp{
    width: 200px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 30px;
background: var(--bytton---accent-color);
box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}


/* wecome */

.main {

}
.welcome_stydia {
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
color: var(--header-text-color);
}
.welcome__title{
    width: 829px;
height: 111px;
flex-shrink: 0;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 134.09%;
    letter-spacing: 0em;
    color: var(--header-text-color);
}